<!doctype html>
<html>

<head>
    <meta http-equiv="charset" charset="utf-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <title>笔趣阁小说爬虫</title>
</head>

<body>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search for...">
        <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div>
    <script type="text/javascript" src="/js/common/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/common/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/common/vue.js"></script>
</body>

</html>